@media (max-width: 1050px) {
    .home-horse-img {
        width: 200px;
    }

    .cards-apps-container {
        flex-direction: column;
    }

    .card-team-text p {
        font-size: 1rem;
    }

}

@media (max-width: 1050px) {
    .home-horse-img {
        width: 150px;
    }

    .home-big-logo {
        font-size: 8rem;
    }

    .main-sentence {
        font-size: 1.1rem;
    }
}

@media (max-width: 750px) {

    .btn-get-started {
        padding: 12px 20px
    }

    .home-horse-img {
        width: 130px;
    }

    .home-big-logo {
        font-size: 7rem;
    }

}

@media (max-width: 700px) {
    .home-horse-img {
        width: 110px;
    }

    .home-big-logo {
        font-size: 6rem;
    }

    .main-sentence {
        font-size: 1rem;
    }

    .btn-get-started {
        padding: 10px 18px
    }

    .team-member-img {
        height: 10em;
    }

    .links-container i {
        font-size: 1.5rem;
    }

    .card-team h4 {
        font-size: 1.1rem;
    }

    .card-team {
        width: 85%;
    }

    .links-container {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .home-big-logo {
        font-size: 5rem;
    }

    .home-horse-img {
        width: 90px;
    }

    .main-sentence {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .home-big-logo p {
        font-size: 4rem;
    }

    .home-horse-img {
        width: 90px;
    }

    .btn-get-started {
        font-size: 12px;
        padding: 8px 16px
    }
}