.note-type-button {
  flex-shrink: 0;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms ease;

  &:hover {
    background-color: rgb(200, 199, 199);
  }
}

.note-type-selected {
  color: black;
}

.note-type-button-icon {
  font-size: 20px;
}
