.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.small-icon {
  color: black;
  font-size: 1.1rem;
}

.logo-area {
  display: flex;
  align-items: center;
}
.logo-text {
  font-size: 1.2rem;
}
