/* mail index  */

/* color SIDE BAR  and TOP BAR #F6F8FC */
/* color SEARCH BAR #EAF1FB */
/* color compose new email #C2E7FF */
/* color inside email list and email preview unread #FFFFFF */
/* color read email #F2F6FC */
/* color grey star #BABEC1 */

/* EMAIL APP LAYOUT --------- */

.email-app-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 50px 1fr;

}

/* // SIDE MENU HIDE - MAKES IT SMALLER */
.menu-hidden {
    grid-template-columns: 72px 1fr;

}

.emails-display-container {
    grid-row: 3/4;
    grid-column: 2/3;
}

/* TOP NAV BAR CSS ----------- */

.top-navbar {
    width: 100%;
    height: 64px;
    background-color: #f6f8fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/-1;
    padding-left: 1.1em;
}

.input-and-side-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-navbar-left-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    color: #5f6368;
}

.img-gmail-logo {
    width: 35px;
}

.menu-icon {
    font-size: 1.3rem;
    margin-inline-end: 0.5rem;
    cursor: pointer;
    padding: 8px;
}

.menu-icon:hover {
    background-color: #e3e3e3;
    border-radius: 50%;
}

.gmail-txt {
    font-size: 1.5rem;
}

.input-container {
    position: relative;
    margin-left: 4.2rem;
}

.search-input {
    border-radius: 2em;
    background-color: #EAF1FB;
    border: 0px;
    padding: 1.2em;
    padding-left: 3.3em;
    width: 40em;
    font-family: openSans, sans-serif;
}

.search-input::placeholder {
    font-size: 16px;
    /* Set the desired font size */
}

.search-input:focus {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.25);

}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

.user-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}


/* SIDE BAR ------ */

.side-navbar {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1em;
    background-color: #f6f8fc;
    height: 100vh;
    grid-row: 2/3;
    grid-column: 1/2;
}

.side-navbar div {
    width: 100%;
}

.side-bar-icons {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebar-icon {
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    margin: 0.5em 0;
    padding-left: 1em;
    cursor: pointer;
}

.sidebar-icon:hover,
.active {
    background-color: rgb(211, 227, 253);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.count-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count-container div {
    display: flex;
    align-items: center;
    gap: 7px;

}

.isRead-counter {
    margin-right: 15px;
}

.btn-compose {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #c2e7ff;
    padding: 1.2em 1.8em;
    border-radius: 1.5em;
    border: 0px;
    margin-bottom: 1em;
    margin-left: 0.5em;
    cursor: pointer;

}

.compose-hidden {
    padding: 1.2em 1em;
}


.btn-compose:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

/* SORT EMAILS COMPONENT----- */

.sort-emails-container {
    display: flex;
    align-items: center;
    gap: 1em;
    grid-row: 2/3;
    grid-column: 2/3;
    padding-left: 10px;
    margin: 10px 0;
}

.sort-emails-container button {
    border: 0px;
    border-radius: 2em;
    padding: 1em;
    background-color: #f2f6fc;
    font-weight: 600;
    cursor: pointer;
}

.sort-emails-container button:hover {
    background-color: #e9f2ff;

}

/* EMAIL ROW LAYOUT */

.email-row {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
    padding-left: 10px;
    border-bottom: 1px solid #BABEC1;
    cursor: pointer;
    position: relative;
    font-size: 1.1rem;
}

.email-row:hover {
    /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.2)
}

.email-body-txt {
    font-weight: normal;
}

.makaf {
    margin-inline: 5px;
}

.read {
    background-color: #F2F6FC;
    font-weight: normal;
}


.unread {
    background-color: white;
    font-weight: bold;
}

.email-icons-container {
    display: none;
    align-items: center;
    gap: 0.5em;
    position: absolute;
    right: 0;
    padding-right: 0.3em;
    font-size: 1.3em;
}

.email-from-content {
    display: flex;
    align-items: center;
    width: 300px;
}

.email-body {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;

}

.email-row-date {
    padding-inline-end: 10px;
}

.fa-square,
.fa-star {
    padding-inline-end: 12px;
}

.checkbox-input {
    margin-inline-end: 12px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    transform: scale(1.2)
}

.unstarred {
    color: #BABEC1;
}

.starred {
    color: gold;
}

.fa-star:hover {
    color: gold;
}

.email-icons-container {
    display: none;
    align-items: center;
    gap: 0.5em;
    position: absolute;
    right: 0;
    padding-right: 0.3em;
    font-size: 1.3em;

}

.email-row:hover .email-icons-container {
    display: flex;

}

.email-row-icon {
    padding: 7px;

}

.email-row-icon:hover {
    background-color: #EAEBEF;
    border-radius: 50%;
}